body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Spectral", sans-serif;
}

#canvas-container {
  padding-top: 4rem;
  padding-left: 4rem;
  flex: 1;
  background-color: #11111b;
}

#content {
  flex: 1;
  padding: 4rem;
  background-color: #11111b;
}

h1 {
  color: #f5c2e7;
}

p {
  color: #cba6f7
}